In [ ]:
import pandas as pd
import plotly.express as px  # (version 4.7.0)
import plotly.graph_objects as go

!pip install dash
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

In [5]:
app = dash.Dash(__name__)

In [51]:
df=pd.read_csv('DP_LIVE_18102020154144776 (1).csv')
df.head()
df=df[df.TIME.isin(['2015','2016','2017','2018','2019'])]
df

      LOCATION  INDICATOR     SUBJECT  ...  TIME   Value  Flag Codes
44         AUS  HEALTHEXP         TOT  ...  2015   9.323           D
45         AUS  HEALTHEXP         TOT  ...  2016   9.201           D
46         AUS  HEALTHEXP         TOT  ...  2017   9.205           D
47         AUS  HEALTHEXP         TOT  ...  2018   9.285           E
48         AUS  HEALTHEXP         TOT  ...  2019   9.334           E
...        ...        ...         ...  ...   ...     ...         ...
16678      SRB  HEALTHEXP  COMPULSORY  ...  2017   4.792         NaN
16679      SRB  HEALTHEXP   VOLUNTARY  ...  2017   3.642         NaN
16680      SRB  HEALTHEXP      OOPEXP  ...  2017  41.752         NaN
16681      SRB  HEALTHEXP  COMPULSORY  ...  2017  56.815         NaN
16682      SRB  HEALTHEXP   VOLUNTARY  ...  2017  43.185         NaN

[2442 rows x 8 columns]

In [47]:
df['TIME'].unique()

array([2015, 2016, 2017, 2018, 2019])

In [50]:
df['SUBJECT'].unique()

array(['TOT', 'OOPEXP', 'COMPULSORY', 'VOLUNTARY'], dtype=object)

In [30]:
app = dash.Dash(__name__)

In [54]:
app.layout = html.Div([
    html.H1("Health Spending - Global Scenario (2015-2019) ", style={'text-align': 'center'}),
    dcc.Dropdown(id="select_year",
                 options=[
                     {"label": "2015", "value": 2015},
                     {"label": "2016", "value": 2016},
                     {"label": "2017", "value": 2017},
                     {"label": "2018", "value": 2018},
                     {"label": "2019", "value": 2019}],
                 multi=False,
                 value=2015,
                 style={'width': "40%"}
                 ),

    html.Div(id='output_container'), #Display text
    html.Br(),
    dcc.Dropdown(id="select_perspec",
                 options=[
                     {"label": "Total", "val":'TOT'},
                     {"label": "Govt/Compulsory", "val": 'COMPULSORY'},
                     {"label": "Voluntary", "val": 'VOLUNTARY'},
                     {"label": "Out-of-Pocket", "val": 'OOPEXP'},
                     ],
                 multi=False,
                 value='TOT',
                 style={'width': "40%"}
                 ),
  
    html.Br(),
    dcc.Graph(id='health_map', figure={})  #World Map

    ])




@app.callback(
    [Output(component_id='output_container', component_property='contain'),
     Output(component_id='health_map', component_property='figure')],
    [Input(component_id='select_year', component_property='value'),
    Input(component_id='select_perspec', component_property='val')])


def update_graph(year, perspective):
  container = "The year chosen by user was: {}".format(year)

  dff = df.copy()
  dff = dff[dff["TIME"] == year]
  dff = dff[dff["SUBJECT"] == perspective]


  fig = px.choropleth(
        data_frame=dff,
        locationmode='country names',
        locations='LOCATION',
        scope="world",
        color='Value',
        hover_data=['LOCATION', 'Value'],
        color_continuous_scale=px.colors.sequential.YlOrRd,
        labels={'Value': 'Health Spending'},
        template='plotly_dark'
    )
  
  return container,fig

In [ ]:
if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off